<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.progartisan.module.user.infra.UserMapper">
	<resultMap id="User" type="com.progartisan.module.user.model.domain.UserPO" autoMapping="true">
		<id property="userId" column="user_id"/>
	</resultMap>
	<resultMap id="UserRole" type="com.progartisan.module.user.model.domain.UserPO$UserRole" autoMapping="true">
		<id property="id" column="id"/>
		<association property="role" resultMap="Role" notNullColumn="role_id"/>
	</resultMap>
	<resultMap id="UserRoleWithPermissions" type="com.progartisan.module.user.model.domain.UserPO$UserRole" autoMapping="true">
		<id property="id" column="id"/>
		<association property="role" resultMap="RoleWithPermissions" notNullColumn="role_id"/>
	</resultMap>
	<resultMap id="Example" type="com.progartisan.module.user.model.domain.UserPO" autoMapping="true">
		<id property="userId" column="user_id"/>
		<collection property="roles" resultMap="UserRole" notNullColumn="id"/>
	</resultMap>
	<resultMap id="Role" type="com.progartisan.module.user.model.domain.RolePO" autoMapping="true">
		<id property="roleId" column="role_id"/>
	</resultMap>
	<resultMap id="RoleWithPermissions" type="com.progartisan.module.user.model.domain.RolePO" autoMapping="true">
		<id property="roleId" column="role_id"/>
		<collection property="_permissions" resultMap="RolePermission" notNullColumn="role_permission_id">
		</collection>
	</resultMap>
	<resultMap id="RolePermission" type="com.progartisan.module.user.model.domain.RolePO$RolePermission" autoMapping="true">
		<id property="rolePermissionId" column="role_permission_id"/>
	</resultMap>
	<resultMap id="UserWithRoleAndPermission" type="com.progartisan.module.user.model.domain.UserPO" extends="User" autoMapping="true">
		<collection property="roles" resultMap="UserRoleWithPermissions"/>
    	<!--collection property="permissions" ofType="java.lang.String">
    		<result column="permission" />
    	</collection-->
	</resultMap>
	<resultMap id="UserWithRoles" type="com.progartisan.module.user.model.domain.UserPO" autoMapping="true" extends="User">
		<collection property="roles" resultMap="UserRole" autoMapping="true"/>
	</resultMap>

	<select id="queryUsers" resultMap="UserWithRoles">
		select u.*, ur.*, r.*
		from t_user u
		left join t_user_role ur on u.user_id = ur.user_id
		left join t_role r on ur.role_id = r.role_id
		-- where r.type = 'Global'
	</select>

	<select id="getUserByLoginName" resultMap="UserWithRoleAndPermission">
		select *
		from t_user u
		left join t_user_role ur on u.user_id = ur.user_id
		left join t_role r on ur.role_id = r.role_id
		left join t_role_permission rp on ur.role_id = rp.role_id 
		where u.login_name=#{username}
	</select>
	
	<select id="getUser" resultMap = "UserWithRoles">
		select u.*, r.*
		from t_user u
		left join t_user_role ur on u.user_id = ur.user_id
		left join t_role r on ur.role_id = r.role_id
		where u.user_id = #{userId}
	</select>
	
	<select id="queryUsersByOrg" resultMap="UserWithRoles">
		select * from t_user u
		left join t_user_role ur on u.user_id = ur.user_id
		where ur.org_id = #{orgId}
	</select>
</mapper>
